<div class="home">
  <div class="wrap">
    <div class="main">
      <div class="hero">
        <div class="banner">
          <div class="image"></div>
          <div class="avatar"></div>
        </div>
        <div class="info">
          <h1>{{ me.firstName }} {{ me.lastName }}</h1>
          <p class="grey">
            Aenean et dolor et lacus pretium ultricies quis id eros. Maecenas
            commodo bibendum metus.
          </p>
          <p class="stats">
            <span>Google Developer Expert</span> ●
            <span>New Delhi, India</span> ●
            <span>10,000 followres</span>
          </p>
          <div class="actions">
            <button>Follow {{ me.firstName }}</button>
            <button class="outline">View Blogs</button>
          </div>
        </div>
      </div>
      <div class="overview">
        <p class="f16 w600">Recent posts</p>

        <ul>
          <li>
            <h3>Let's learn Multi Tenancy at <a>#NgIndia</a></h3>
            <p>
              Aenean et dolor et lacus pretium ultricies quis id eros. Maecenas
              commodo bibendum metus. Orci varius natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.
            </p>
            <p class="stats">
              <span>5 min</span> ● <span>NodeJs</span> ●
              <span>100k likes</span> ● <span>10 days ago</span>
            </p>
          </li>

          <li>
            <h3>Learn NestJs in 30 minutes</h3>
            <p>
              Aenean et dolor et lacus pretium ultricies quis id eros. Maecenas
              commodo bibendum metus. Orci varius natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.
            </p>
            <p class="stats">
              <span>30 min</span> ● <span>NodeJs</span> ●
              <span>100k likes</span> ● <span>10 days ago</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar">
      <div class="offer">
        <h1>80% off</h1>
        <p>For your first job posting</p>
        <p class="link">View details</p>
      </div>
      <div class="activity">
        <p class="f16 w600">Activities</p>

        <ul>
          <li>
            <p class="title">Change profile details</p>
            <p>Nulla facilisis arcu sit amet.</p>
            <p class="w600">10 days ago</p>
          </li>
          <li>
            <p class="title">Viewed page <a>Ng India</a></p>
            <p>Nulla facilisis arcu sit amet.</p>
            <p class="w600">20 days ago</p>
          </li>
          <li>
            <p class="title">Searched 'Multi Tenancy'</p>
            <p>Nulla facilisis arcu sit amet.</p>
            <p class="w600">21 days ago</p>
          </li>
          <li>
            <p class="title">Added new blog</p>
            <p>Nulla facilisis arcu sit amet.</p>
            <p class="w600">1 month ago</p>
          </li>
          <li>
            <p class="title">Created profile</p>
            <p>Nulla facilisis arcu sit amet.</p>
            <p class="w600">2 years ago</p>
          </li>
        </ul>

        <a>See all</a>
      </div>
    </div>
  </div>
</div>
